<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aone Platform</title>
    <link rel="stylesheet"
          th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
</head>
<body>
 <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
     <a class="navbar-brand" href="#">Navbar</a>
     <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
         aria-expanded="false" aria-label="Toggle navigation"></button>
     <div class="collapse navbar-collapse" id="collapsibleNavId">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item active">
                 <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#">Link</a>
             </li>
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                 <div class="dropdown-menu" aria-labelledby="dropdownId">
                     <a class="dropdown-item" href="#">Action 1</a>
                     <a class="dropdown-item" href="#">Action 2</a>
                 </div>
             </li>
         </ul>
             <input class="form-control mr-sm-2" type="text" placeholder="Search">
             <button id="btn" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
     </div>
 </nav>
 <br>
<table class="table">
        <thead>
                <tr>
                        <th>ID</th>
                        <th>Introdece</th>
                </tr>
        </thead>
        <tbody>

        </tbody>
</table>
<script type="text/javascript"
        th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/js/task.js}"></script>

</body>
</html>
